*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}
@font-face {
    font-family: Darkergrotesque-bold;
    src: url("../fonts/DarkerGrotesque-Bold.ttf");
}
@font-face {
    font-family: Darkergrotesque-SemiBold;
    src: url("../fonts/DarkerGrotesque-SemiBold.ttf");
}
html {
    background-image: url(../media/bg-desktop.svg);
    background-color: #674BB1;
    background-repeat: no repeat;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "logo . . ."
    "mockups mockups main main "
    ". . . footer"
}
.logo {
    grid-area: logo;
    padding: 10% 10% 10% 15%;
}

.mockups {
    grid-area: mockups;
    margin-top: 6%;
    margin-left: 7%;
}
.main h1 {
    font-family: Darkergrotesque-bold, monospace;
    font-size: 2.8rem;
}
.main p{
    font-family: Darkergrotesque-SemiBold, monospace;
    margin-top: 5%;
    font-size: 1.4rem;

}
.main {
    grid-area: main;
    color: white;    margin-top: 15%;
    max-width: 90%;
}
.button {
    width: 40%;
    height: 7vh;
    border-radius: 30px;
    border: none;
    background-color: white;
    color: #674BB1;
    margin-top: 1rem;
    font-family: Darkergrotesque-SemiBold;
    font-size: 1.5rem;
    box-shadow: 0 0 5px 2px #49377c;
}
.button:hover {
    color: white;
    background-color: #E980E7;
}
.footer {
    grid-area: footer;
}
.footer img {
    width: 15%;
    margin-bottom: 5%;
}
@media (max-width: 425px){
html {
    background-image: url(../media/bg-mobile.svg);
    background-repeat: no-repeat;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    ". logo . ."
    "mockups mockups mockups mockups "
    "main main main main"
    "footer footer footer footer"
}
header {
    width: 150px;
    padding: 10% 0 0 10%;
}
.mockups {
    width: 70%;
    margin: auto;
    margin-top: 10%;
}
.main {
    margin-left: 7%;
    margin-right: 5%;
}
.main h1 {
    text-align: center;
}
.main p {
    text-align: center;
}
.button {
    margin-left: 23%;
    width: 50%;
    height: 7vh;
    font-size: 1rem;
    margin-top: 7%;
}
.button:hover {
    color: white;
    background-color: #E980E7;
}
.footer {
    margin-top: 15%;
    width: 50%;
    margin-left: 35%;
    
}
}